﻿USE [schoolmanager]
GO
/****** Object:  Table [dbo].[permissions]    Script Date: 10/03/2026 9:59:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permissions](
	[id] [uniqueidentifier] NOT NULL,
	[code] [varchar](50) NOT NULL,
	[description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role_permissions]    Script Date: 10/03/2026 9:59:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role_permissions](
	[role_id] [uniqueidentifier] NOT NULL,
	[permission_id] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC,
	[permission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 10/03/2026 9:59:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [uniqueidentifier] NOT NULL,
	[code] [varchar](50) NOT NULL,
	[name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[students]    Script Date: 10/03/2026 9:59:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[students](
	[id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](100) NULL,
	[email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_roles]    Script Date: 10/03/2026 9:59:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_roles](
	[user_id] [uniqueidentifier] NOT NULL,
	[role_id] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 10/03/2026 9:59:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [uniqueidentifier] NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[permissions] ([id], [code], [description]) VALUES (N'4180b9c3-cbba-418b-98ee-12481aae1aac', N'USER_UPDATE', N'Cập nhật thông tin người dùng')
INSERT [dbo].[permissions] ([id], [code], [description]) VALUES (N'fe125796-d141-4cc9-acb4-158325d3ce4a', N'STUDENT_CREATE', N'Thêm sinh viên')
INSERT [dbo].[permissions] ([id], [code], [description]) VALUES (N'dbf9ff16-fd22-4cbd-bb92-3171ae4849b5', N'USER_VIEW', N'Xem danh sách người dùng')
GO
INSERT [dbo].[role_permissions] ([role_id], [permission_id]) VALUES (N'964e4ffc-9866-4a41-9c77-c87a4bb1e714', N'9ed69f49-0151-4221-a385-64cef9e75784')
INSERT [dbo].[role_permissions] ([role_id], [permission_id]) VALUES (N'964e4ffc-9866-4a41-9c77-c87a4bb1e714', N'a1ea4075-f240-40fa-9234-dc4a67b9d4f7')
GO
INSERT [dbo].[roles] ([id], [code], [name]) VALUES (N'f0c2fe61-440a-4ea3-871d-26cf4d59a622', N'ADVISOR', N'Cố vấn học tập')
INSERT [dbo].[roles] ([id], [code], [name]) VALUES (N'554c9045-4f97-4b9c-aa4a-36860e959509', N'LECTURER', N'Giảng viên')
INSERT [dbo].[roles] ([id], [code], [name]) VALUES (N'9cc82053-2b58-4b88-af7c-57a5cd7dac1d', N'ADMIN', N'Quản trị hệ thống')
GO
INSERT [dbo].[students] ([id], [name], [email]) VALUES (N'0786effa-a5a9-49af-8aa9-224d8bdd1eb9', N'Hoàng Thị Em', N'em.hoang@university.edu.vn')
INSERT [dbo].[students] ([id], [name], [email]) VALUES (N'6e497567-0d08-476d-b042-4c8d3597adf0', N'Võ Gia Huy', N'huy.vo@university.edu.vn')
INSERT [dbo].[students] ([id], [name], [email]) VALUES (N'fc329896-ecb5-4ffc-9738-6840dfe84afc', N'Nguyễn Văn An', N'an.nguyen@university.edu.vn')
GO
INSERT [dbo].[user_roles] ([user_id], [role_id]) VALUES (N'712232b2-4ca5-4c73-9922-036d416635f6', N'964e4ffc-9866-4a41-9c77-c87a4bb1e714')
GO
INSERT [dbo].[users] ([id], [username], [password], [status]) VALUES (N'712232b2-4ca5-4c73-9922-036d416635f6', N'student01', N'123123', N'ACTIVE')
INSERT [dbo].[users] ([id], [username], [password], [status]) VALUES (N'4bca4588-b785-49de-a962-038ab00db9a4', N'student04', N'123123', N'INACTIVE')
INSERT [dbo].[users] ([id], [username], [password], [status]) VALUES (N'18ce0b3b-bb4c-45d9-a045-11e867002512', N'student02', N'123123', N'ACTIVE')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__permissi__357D4CF922B712A1]    Script Date: 10/03/2026 9:59:46 AM ******/
ALTER TABLE [dbo].[permissions] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__roles__357D4CF9722EC0A9]    Script Date: 10/03/2026 9:59:46 AM ******/
ALTER TABLE [dbo].[roles] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__F3DBC5726730278C]    Script Date: 10/03/2026 9:59:46 AM ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[role_permissions]  WITH CHECK ADD FOREIGN KEY([permission_id])
REFERENCES [dbo].[permissions] ([id])
GO
ALTER TABLE [dbo].[role_permissions]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
GO